.main {
  display: flex;
  width: 68rem;
  height: 44rem;
  margin-left: 15rem;
}

.mainLeftSide {
  width: 360px;
  height: 490px;
  padding-top: 168px;
}
.mainRightSide {
  width: 447px;
  height: 397px;
  padding-top: 219px;
  padding-left: 140px;
}
.cardOne {
  display: flex;
  background-color: whitesmoke;
  width: 360px;
  height: 130px;
  padding-top: 10px;
  gap: 15px;
}

.cardTwo {
  display: flex;
  background-color: whitesmoke;
  width: 360px;
  height: 130px;
  padding-top: 10px;
  margin-top: 15px;
  gap: 15px;
}

.cardThree {
  display: flex;
  background-color: whitesmoke;
  width: 360px;
  height: 130px;
  padding-top: 10px;
  margin-top: 15px;
  gap: 15px;
}

.cardImage img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding-left: 10px;
}
.cardDetails{
    padding-top:20px;
}